# handle line endings for all text files
* text=auto eol=lf

# track python files as text
*.py text

# handle large files
*.safetensors filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text